!!! 5
%html
  %head
    %meta{ :charset => 'utf-8' }
    %title=options.title
    %link{ :href => '/stylesheet.css', :rel => 'stylesheet', :type => 'text/css', :charset => 'utf-8' }
    %link{ :href => '/feed.xml', :rel => 'alternate', :type => 'application/rss+xml', :title => 'Feed' }
  %body
    %h1=options.title
    -@pics.each do |pic|
      .pic
        .date=pic[:date].strftime('%a, %d %b %Y')
        -pic[:urls].each do |url|
          %img{ :src => url, :alt => pic[:tweet] }
        %p=pic[:tweet]
    #footer
      &mdash; Powered by <a href="http://twitter.com/danrandow">@danrandow</a>.
      Fresh <a href="/feed.xml">Atom feed</a> available.
      .ego
        Built by <a href="http://twitter.com/Aupajo">@Aupajo</a>.
        <a href="http://github.com/Aupajo/morning-christchurch">Source on GitHub</a>.
